{% extends "chezbob/base.html" %}

{% block html_headers %}
<script tyep="text/javascript">
// <![CDATA[
$(document).ready(function() { 
  $("#transactionsTable")
    .tablesorter({ widgets: ['zebra'] })
    .tablesorterPager({container: $("#pager_top"), positionFixed: false, size: 10});
} 
);
// ]]>
</script>

<style>
  fieldset 
    { margin-bottom:10px;
      padding:5px; }
  fieldset input[type="submit"] 
    { text-align:center; }
  fieldset input[type="text"] 
    { width:150px; }
  .tool_button
    { width:300px; }
  .pagedisplay
    { width:70px;
      text-align: center; }
  label 
    { width:150px;
      display:inline-block;}
</style>
{% endblock %}

{% block title %}User Details for {{ user_detailed.username }}{% endblock %}

{% block pretitle %}
<div>
  <a href="{% url chezbob.users.views.user_list %}">&lt;&lt; Back to all Users</a>
</div>
{% endblock%}

{% block content %}

<div>
  <h2>Details</h2> 
  <form>
    <fieldset>
      <legend>Profile</legend>
      {{ profile_form.as_p }}
      <input type="submit" value="Save Details" disabled="disabled"  class="tool_button"/>
    </fieldset>
    <fieldset>
      <legend>Preferences</legend>
      {{ preferences_form.as_p }}
      <input type="submit" value="Save Preferences" disabled="disabled"  class="tool_button"/>
    </fieldset>
    <fieldset>
      <legend>Statistics</legend>
      {{ stats_form.as_p }}
    </fieldset>

    <h2>Barcodes</h2>
    {% if barcodes %}
    <ul>
    {% for barcode in barcodes %}
      <li>{{ barcode.barcode }}</li>
    {% endfor %}
    </ul>
    {% else %}
      <em>No Barcodes Registered</em>
    {% endif %}
  </form>
</div>

<div>
  <h2>New Transactions</h2>
  {% for form in tools %}
  <form action="" method="post">
    {% if form.show %}
    <fieldset>
    {% else %}
    <input type="submit" value="{{ form.title }}" name="{{ form.type }}_open" class="tool_button"/> 
    <fieldset style="display:none;">
    {% endif %}
      <legend>{{ form.title }}</legend>
      {{ form.fields.as_p }}
      <input type="submit" value="Save" name="{{ form.type }}_save" />
      <input type="submit" value="Cancel" name="{{ form.type }}_cancel" />
    </fieldset>
  </form>
  {% endfor %}
</div>

<div>
<h2>Transactions</h2>
<div id="pager_top" class="pager" style="text-align:center;">
  <form>
    <a href="#" class="first">&lt;&lt;</a>
    <a href="#" class="prev">&lt;</a>
    <input type="text" class="pagedisplay" disabled="disabled"/>
    <a href="#" class="next">&gt;</a>
    <a href="#" class="last">&gt;&gt;</a>
    Page size: <select class="pagesize">
      <option selected="selected"  value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="999999">All</option>
    </select>
  </form>
</div>

<form method='post'>
  <table cellspacing="0" id="transactionsTable" class="tablesorter">
    <thead>
      <tr>
        <th>time</th> 
        <th>value</th> 
        <th>type</th> 
        <th>barcode</th> 
        <th>source</th>
        <th>tools</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr onclick="window.location.href='{% url chezbob.users.views.user_details user.id %}';" >  
        <td>{{ transaction.time|date:"Y/m/d, H:i:s" }}</td> 
        <td style="text-align:right">${{ transaction.value }}</td> 
        <td>{{ transaction.type }}</td> 
        <td>{{ transaction.barcode }}</td> 
        <td>{{ transaction.source }}</td> 
        <td>
            <!--<input type="submit" 
                       value="Edit" 
                       name="edit_tran_{{ transaction.id }}" 
                       style="padding:1px 5px 1px 5px"/>-->
            {% if not transaction.type = "INIT" %}
            <input type="submit" 
                   value="Delete" 
                   name="delete_tran_{{ transaction.id }}" 
                   style="padding:1px 5px 1px 5px"/>
            {% endif %}
        </td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
</div>

{% endblock %}
