{% extends "chezbob/base.html" %}

{% block title %}User List{% endblock %}

{% block content %}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.pager.js"></script>
<link rel="stylesheet" type="text/css" href="/js/tablesorter/style.css" />
<script tyep="text/javascript">
// <![CDATA[
$(document).ready(function() { 
  $("#userListTable")
    .tablesorter({ widgets: ['zebra'] })
    .tablesorterPager({container: $("#pager_top"), positionFixed: false, size: 25});
} 
);
// ]]>
</script>

<div id="pager_top" class="pager" style="text-align:center;">
	<form>
		<a href="#" class="first">&lt;&lt;</a>
		<a href="#" class="prev">&lt;</a>
		<input type="text" class="pagedisplay"/>
		<a href="#" class="next">&gt;</a>
		<a href="#" class="last">&gt;&gt;</a>
		Page size: <select class="pagesize">
			<option value="10">10</option>
			<option selected="selected"  value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
			<option value="999999">All</option>
		</select>
	</form>
</div>

<div>
<table cellspacing="0" id="userListTable" class="tablesorter">
<thead>
<tr>
  <th>id</th> 
  <th>username</th> 
  <th>email</th> 
  <th>last purchase</th> 
  <th>last deposit</th> 
  <th>status</th> 
  <th>balance</th> 
</tr>
</thead>
<tbody>
{% for user in users %}
<tr onclick="window.location.href='{% url chezbob.users.views.user_details user.id %}';" >  
	<td>{{ user.id }}</td> 
  <td>{{ user.username }}</td> 
  <td>{{ user.email }}</td> 
  <td>{{ user.last_purchase_time|date:"Y/m/d, H:i" }}</td> 
  <td>{{ user.last_deposit_time|date:"Y/m/d, H:i" }}</td> 
  <td>{{ user.disabled|yesno:"disabled,," }}</td> 
  <td style="text-align:right;">{{ user.balance }}</td> 
</tr>
{% endfor %}
</tbody>
</table>
</div>


{% endblock %}
