{% extends "chezbob/base.html" %}

{% block title %}User Details for {{ user_detailed.username }}{% endblock %}

{% block content %}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.pager.js"></script>
<link rel="stylesheet" type="text/css" href="/js/tablesorter/style.css" />
<script tyep="text/javascript">
// <![CDATA[
$(document).ready(function() { 
  $("#transactionsTable")
    .tablesorter({ widgets: ['zebra'] })
    .tablesorterPager({container: $("#pager_top"), positionFixed: false, size: 10});
} 
);
// ]]>
</script>

<a href="{% url chezbob.users.views.user_list %}">&lt;&lt; Back to all Users</a>
{% if errors %}
<div class="errorbox">
<h2>Errors on page</h2>
<ul>
{% for error in errors %}
  <li>{{ error }}</li>
{% endfor %}
</ul>
</div>

{% else %}
<div>
<h2>Details</h2> 
<form>
<table>
  <tr><th>Profile</th><th></th></tr>
  <tr><td>Userid:</td><td>{{ user_detailed.id}}</td></tr>
  <tr><td>Username:</td><td>{{ user_detailed.username}}</td></tr>
  <tr><td>Nickname:</td><td>{{ user_detailed.nickname}}</td></tr>
  <tr><td>Email:</td><td>{{ user_detailed.email}}</td></tr>
  <tr><td>Password:</td><td>{{ user_detailed.pwd}}</td></tr>
  <tr><td>Disabled</td><td>{{ user_detailed.disabled}}</td></tr>
  <tr><th>Statistics</th><th></th></tr>
  <tr><td>Last Purcahse Time:</td><td>{{ user_detailed.last_purchase_time|date:"Y/m/d, H:i"}}</td></tr>
  <tr><td>Last Deposite Time:</td><td>{{ user_detailed.last_deposit_time|date:"Y/m/d, H:i"}}</td></tr>
  <tr><td>Account Balance:</td><td>{{ user_detailed.balance}}</td></tr>
  <tr><th>Preferences</th><th></th></tr>
  <tr><td>Auto Logout:</td><td>{{ user_detailed.auto_logout }}</td></tr>
  <tr><td>Speech:</td><td>{{ user_detailed.speech }}</td></tr>
  <tr><td>Forget Which Product:</td><td>{{ user_detailed.forget_which_product }}</td></tr>
  <tr><td>Skip Purchase Confirmation:</td><td>{{ user_detailed.skip_purchase_confirmation }}</td></tr>
  <tr><th>Barcodes</th><th></th></tr>
{% if barcodes %}
{% for barcode in barcodes %}
  <tr><td></td><td>{{ barcode.barcode }}</td></tr>
{% endfor %}
{% else %}
  <tr><td colspan="2" style="emptytable">No Barcodes Registered</td></tr>
{% endif %}
</table>
</form>
</div>
<div>
<h2>Tools</h2>
<form>
if open then
	if positive balance
	* Donate Balance
	else
	* Write off Blance
	endif
* Close Account
else 
* Reopen Account
endif
* Make Purchase...
* Transfer To/From...
* Reimburse...
* Add Funds...
</form>
</div>
<div>
<h2>Transactions</h2>
<div id="pager_top" class="pager" style="text-align:center;">
	<form>
		<a href="#" class="first">&lt;&lt;</a>
		<a href="#" class="prev">&lt;</a>
		<input type="text" class="pagedisplay"/>
		<a href="#" class="next">&gt;</a>
		<a href="#" class="last">&gt;&gt;</a>
		Page size: <select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
			<option value="999999">All</option>
		</select>
	</form>
</div>

<table cellspacing="0" id="transactionsTable" class="tablesorter">
<thead>
<tr>
  <th>time</th> 
  <th>value</th> 
  <th>type</th> 
  <th>barcode</th> 
  <th>source</th>
  <th>tools</th>
</tr>
</thead>
<tbody>
{% for transaction in transactions %}
<tr onclick="window.location.href='{% url chezbob.users.views.user_details user.id %}';" >  
	<td>{{ transaction.time|date:"Y/m/d, H:i:s" }}</td> 
  <td style="text-align:right">${{ transaction.value }}</td> 
  <td>{{ transaction.type }}</td> 
  <td>{{ transaction.barcode }}</td> 
  <td>{{ transaction.source }}</td> 
  <td><form><input type="submit" value="Delete" disabled="1" style="padding:1px 5px 1px 5px"/></form></td> 
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endif %}

{% endblock %}
