{
    "sodad": {
        "port": 8080,
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8080/api"
    },
    "mdbd": {
        "port": 8081,
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8081"
    },
    "vdbd": {
        "port": 8083,
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8083"
    },
    "barcoded": {
        "port": "8086",
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8086",
        "device": "/dev/barcode",
        "timeout": 1000
    }
    "db": {
      "type": "postgres",
      "dbhost": "localhost",
      "dbname": "bob",
      "dbuser": "bob",
    }
}
