[submodule "externals/ansible"]
	path = externals/ansible
	url = https://github.com/ansible/ansible.git
[submodule "externals/ChibiOS"]
	path = externals/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS-RT.git
[submodule "externals/jtag-openocd"]
	path = externals/jtag-openocd
	url = git://git.code.sf.net/p/openocd/code
