{% extends "chezbob/base.html" %}
{% block title %}Database Queries{% endblock %}

{% block html_headers %}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.js"></script>
<link rel="stylesheet" type="text/css" href="/js/tablesorter/style.css" />
<style type="text/css">
.query {
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 1em;
}
input.hide {
  float: right;
}
</style>
<script tyep="text/javascript">
// <![CDATA[
$(document).ready(function() {
  $(".query").each(function(index) {
    $(this).append("<div class='results'></div>");
    var results = $(".results", this);
    //$(".hider", this).click(function() {
    //  results.slideToggle("fast");
    //});
    var form = $("form", this);

    $('input[type="submit"]', form).after(" <input type='button' value='Hide' class='hide' style='display: none' />");
    var btn = $('input[value="Hide"]', form);
    btn.click(function() {
      results.toggle('fast');
    });

    var url = form.attr("action").replace("results/", "raw/");
    form.submit(function(event) {
      btn.show();
      results.show();
      results.html("Loading...");
      $.ajax({'url': url,
              'data': form.serialize(),
              'success': function(data) {
                results.html(data);
                var table = $("table", results);
                table.addClass("tablesorter");
                table.tablesorter();
                },
              'error': function(xhr, msg, err) {
                results.html("Error: " + msg);
                }});
      event.preventDefault();
    });
  });
});
// ]]>
</script>
{% endblock %}

{% block content %}
{% for query in queries %}
<div class="query">
<h1>{{ query.name }}: {{ query.description }}</h1>
<p>Query: <span style="font-family: monospace">{{ query.query }}</span></p>
<form action="results/{{ query.name }}/" method="get">
{% for var in query.variables %}
<div class="form-row">
<label for="{{ var }}">{{ var }}:</label>
<input type="text" name="{{ var }}" value="" />
</div>
{% endfor %}
<input type="submit" value="Execute" />
</form>
</div>
{% endfor %}
{% endblock %}
