{% extends "chezbob/base.html" %}
{% block title %}Database Queries{% endblock %}

{% block html_headers %}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.js"></script>
<link rel="stylesheet" type="text/css" href="/js/tablesorter/style.css" />
<style type="text/css">
.query {
  background-color: #e6eeee;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 1em;
}
</style>
<script tyep="text/javascript">
// <![CDATA[
$(document).ready(function() {
  $(".nonexistent").each(function(index) {
    $(this).prepend("<span class='executor'>Execute</span>");
    $(this).prepend("<span class='hider'>Hide</span>");
    var results = $(".results", this);
    results.hide();
    $(".hider", this).click(function() {
      results.slideToggle("fast");
    });
    $(".executor", this).click(function() {
      results.html("Loading...");
      $.get("/admin/query/raw/accounts/", function(data) {
        results.html(data);
        $("table", results).addClass("tablesorter");
        $("table", results).tablesorter();
      });
    });
  });
});
// ]]>
</script>
{% endblock %}

{% block content %}
{% for query in queries %}
<div class="query">
<h1>{{ query.name }}: {{ query.description }}</h1>
<p>Query: <span style="font-family: monospace">{{ query.query }}</span></p>
<form action="results/{{ query.name }}/" method="post">
{% for var in query.variables %}
<div class="form-row">
<label for="{{ var }}">{{ var }}:</label>
<input type="text" name="{{ var }}" value="" />
</div>
{% endfor %}
<input type="submit" value="Execute" />
</form>
</div>
{% endfor %}
{% endblock %}
