{
    "sodad": {
        "port": 8080,
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8080/api"
    },
    "mdbd": {
        "port": 8081,
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8081",
        "device": "/dev/mdb",
        "timeout": 1000
    },
    "vdbd": {
        "port": 8083,
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8083",
        "device": "/dev/vdb",
        "timeout": 10000
    },
    "barcoded": {
        "port": "8086",
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8086",
        "device": "/dev/barcode",
        "timeout": 1000
    },
    "barcodeid": {
        "port": "8088",
        "host": "127.0.0.1",
        "endpoint": "http://127.0.0.1:8088",
        "device": "/dev/barcodei",
        "timeout": 1000
    },
    "db": {
      "type": "postgres",
      "host": "localhost",
      "name": "bob",
      "user": "bob"
    },
    "sodamap": {
      "01" : "782740",
      "02" : "496340",
      "03" : "",
      "04" : "049000042566",
      "05" : "120130",
      "06" : "120500",
      "07" : "783150",
      "08" : "783230",
      "09" : "120850",
      "0A" : "496580"
    }
}
