//core vars
@import "variables";
@import "bootstrap/mixins";

//depend
@import "bootstrap/normalize";
@import "font-awesome";

//core
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

//components
@import "bootstrap/component-animations";
@import "bootstrap/glyphicons";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/wells";
@import "bootstrap/close";

//js components
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

//utility
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

.carousel-caption {
    text-align: left;
    position: absolute;
    top: 200px;
}

.carousel-inner{
    min-width:100%;
}

body {
 //margin-bottom: 60px;
 overflow: hidden;
}

.body-padded
{
    padding-top:60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    z-index: 2;
}

.sidebutton h1 {
    margin-left: 10px;
    display: inline-block;
}

.buttontextgroup {
    display: inline-block;
    margin-top: -20px;
}

.login {
    margin-top: 65px;
    background-color: #f5f5f5;
}

.center {
    float: none; 
    margin-left: auto; 
    margin-right: auto;
}

// Negative margins are exactly half the height and width, 
// which pull the element back into perfect center. 
// Only works with elements of a fixed height/width.
.center2 {
   width: 500px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -250px;
   margin-top: -225px;
}

.background-image {
  background: url('../images/chezbob.png'), #008484;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 2;
}

.big {
    height: 45px;
}

#vendstock {
    text-align:center;
}
