<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block forms_stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block changelists_stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/changelists.css{% endblock %}" />
    {% block html_headers %}{% endblock %}
</head>

<body>

<div id="container">
    <div id="header">
        <div id="branding">
            {% block branding %}<h1 id="site-name">Chez Bob</h1>{% endblock %}
        </div>
        <b>Menu:</b>
        <a href="/admin/">Admin Home</a> |
        <a href="/admin/finance/accounts/">Finance</a> |
        <a href="/admin/cashout/">Cashouts</a> |
        <a href="/admin/inventory/">Inventory</a> |
        <a href="/admin/orders/">Orders</a> |
        <a href="/admin/django/">Database</a> |
        <a href="/admin/query/">Queries</a> |
        <a href="/admin/django/logout/">Logout</a>
        {% if user.is_authenticated %}
        <div id="user-tools">Welcome, <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong>.</div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>

    <div id="content" class="{% block coltype %}flex{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
        {% block content %}{{ content }}{% endblock %}
        {% block sidebar %}{% endblock %}
        {% block bottom_pagination %} {% endblock %}
    </div>

    {% block footer %}<div id="footer"></div>{% endblock %}

    <br class="clear" />
</div>

</body>
</html>
