<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
</head>

<body>

<div id="container">
    <div id="header">
        <div id="branding">
            {% block branding %}<h1 id="site-name">Chez Bob</h1>{% endblock %}
        </div>
        {% if user.is_authenticated %}
        <div id="user-tools">Welcome, <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong>.</div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>

    <div id="content" class="{% block coltype %}flex{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
        {% block content %}{{ content }}{% endblock %}
        {% block sidebar %}{% endblock %}

<table cellspacing="0">

<thead>
<tr>
    <th><a href="?o=0">Product</a></th>
    <th><a href="?o=1">Price</a></th>
    <th><a href="?o=2">Unit Cost</a></th>
    <th><a href="?o=3">Markup ($)</a></th>
    <th><a href="?o=4">Markup (%)</a></th>
</tr>
</thead>
<tbody>

{% for product in products %}
    <tr class="{% cycle row1,row2 %}">
        <td>{{ product.name|escape }}</td>
        <td>{{ product.price|stringformat:".2f" }}</td>
        <td>{{ product.bulk.unit_price|stringformat:".4f" }}</td>
        <td>{{ product.markup_amt|stringformat:".4f" }}</td>
        <td>{{ product.markup_pct|stringformat:".1f" }}</td>
    </tr>
{% endfor %}

</tbody>
</table>

        <br class="clear" />
    </div>

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>

</body>
</html>
