{% extends "chezbob/base.html" %}
{% block title %}Product Detail: {{ product.name }}{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>

<p>Price: ${{ product.price|stringformat:".2f" }}</p>
<p>Unit Cost: ${{ product.bulk.unit_price|stringformat:".4f" }}</p>
<p>Markup: ${{ product.markup_amt|stringformat:".4f" }} ({{ product.markup_pct|stringformat:".1f" }})</p>

<h2>Sales History</h2>
<table cellspacing="0">

<thead>
<tr>
    <th>Date</th>
    <th>Sales</th>
</tr>
</thead>

<tbody>
{% for i in product.sales_stats %}
<tr class="{% cycle row1,row2 %}">
    <td>{{ i.0 }}</td>
    <td>{{ i.1 }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
