{% extends "chezbob/base.html" %}
{% block title %}Take Inventory{% endblock %}

{% block content %}
<h1>Update Inventory - {{ date }}</h1>

<form action="" method="post">
<input type="hidden" name="session_key" value="{{ session_key }}" />

<table cellspacing="0">

<thead>
<tr>
    <th>Description</th>
    <th>Cases</th>
    <th>Items</th>
    <th>Exact?</th>
    <th>Estimate</th>
    <th>Last Inventory</th>
</tr>
</thead>

<tbody>
{% for item in items %}
<tr class="{% cycle row1,row2 %}">
    <input type="hidden" name="id.{{ forloop.counter }}" value="{{ item.type.bulkid }}" />
    <input type="hidden" name="old_count.{{ forloop.counter }}" value="{{ item.count }}" />
    <td>
        <span style="font-weight: bold">{{ item.type.description|escape }}</span>
    </td>
    <td>
        <input type="text" size="6" name="cases.{{ forloop.counter }}" value="{{ item.count_unit }}" />
        &times; {{ item.type.quantity }}
        <input type="hidden" name="multiplier.{{ forloop.counter }}" value="{{ item.type.quantity }}" />
    </td>
    <td>
        + <input type="text" size="6" name="items.{{ forloop.counter }}" value="{{ item.count_item }}" />
    </td>
    <td>
        <input type="checkbox" name="exact.{{ forloop.counter }}" {% if item.exact %}checked="true" {% endif %}/>
        {% if item.exact %}<input type="hidden" name="old_exact.{{ forloop.counter }}" value="true" />{% endif %}
    </td>
    <td>{% if item.active %}<abbr title="{{ item.prev_count }} + {{ item.est_add }} - {{ item.est_sub }}">{{ item.estimate }}</abbr>{% else %}{{ item.estimate }}{% endif %}</td>
    <td>{{ item.prev_date }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="submit-row">
<input type="submit" value="Save" class="default" />
</div>

</form>
{% endblock %}
