{% extends "chezbob/base.html" %}
{% block title %}Take Inventory{% endblock %}

{% block content %}
<h1>Update Inventory - {{ date }}</h1>

<form action="" method="post">
<input type="hidden" name="session_key" value="{{ session_key }}" />

<table cellspacing="0">

<thead>
<tr>
    <th>Description</th>
    <th>Cases</th>
    <th>Items</th>
    <th>Estimate</th>
    <th>Last Inventory</th>
</tr>
</thead>

<tbody>

{% for location in locations %}

{% if location.items %}
<tr><td colspan="5">
<h3>{{ location.name }}</h3>
</td></tr>
{% endif %}

{% for item in location.items %}
<tr class="{% cycle "row1" "row2" %}">
    <input type="hidden" name="id.{{ item.counter }}" value="{{ item.type.bulkid }}" />
    <input type="hidden" name="old_count.{{ item.counter }}" value="{{ item.count }}" />
    <input type="hidden" name="old_cases.{{ item.counter }}" value="{{ item.count_cases }}" />
    <input type="hidden" name="old_items.{{ item.counter }}" value="{{ item.count_items }}" />
    <td>
        <span style="font-weight: bold">{{ item.type.description }}</span>
    </td>
    <td style="white-space:nowrap;">
        <input type="text" size="4" style="text-align:right;" name="cases.{{ item.counter }}" value="{{ item.count_cases }}" />
        &times; {{ item.multiplier }}
        <input type="hidden" name="multiplier.{{ item.counter }}" value="{{ item.multiplier }}" />
    </td>
    <td style="white-space:nowrap;">
        + <input type="text" size="4" style="text-align:right;" name="items.{{ item.counter }}" value="{{ item.count_items }}" />
    </td>
    <td style="text-align:center">{% if item.active %}<abbr title="{{ item.prev_count }} + {{ item.est_add }} - {{ item.est_sub }}">{{ item.estimate }}</abbr>{% else %}{{ item.estimate }}{% endif %}</td>
    <td style="text-align:center">{{ item.prev_date }}</td>
</tr>
{% endfor %}

{% endfor %}
</tbody>
</table>

<div class="submit-row">
<input type="submit" value="Save" class="default" />
</div>

</form>
{% endblock %}
