{% extends "chezbob/paginated.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<table width="100%">
    <tr>
        <th style="text-align: left" width="20%">Date</th>
        <th style="text-align: left" width="30%">Description</th>
        <th style="text-align: left" width="20%"></th>
        {% for f in field_names %}
        <th style="text-align: right">{{ f }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th></th>
        <th>Notes</th>
        <th>Entity</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

{% for c in cashouts %}

    <tr><td colspan="6"><hr /></td></tr>

    <tr id="c{{ c.info.id }}">
        <td><a href="/admin/cashout/{{ c.info.id }}/" style="font-weight: bold">{{ c.info.datetime }}</a></td>
        <td colspan="2"><a href="/admin/cashout/{{ c.info.id }}/" style="font-weight: bold">{{ c.info.notes }}</a></td>
        <td></td>
    </tr>
    {% for s in c.counts %}
    <tr>
        <td></td>
        <td>{{ s.memo }}</td>
        <td><a href="/admin/cashout/entity/{{s.entity.id}}/">{{ s.entity }}</a></td>
        {% for v in s.count %}
        <td align="right">{{ v }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        {% for v in c.total %}
        <td align="right"><b>{{ v }}</b></td>
        {% endfor %}
    </tr>

{% endfor %}
    <tr>
        <th style="text-align: left" width="20%">Date</th>
        <th style="text-align: left" width="30%">Description</th>
        <th style="text-align: left" width="20%"></th>
        {% for f in field_names %}
        <th style="text-align: right">{{ f }}</th>
        {% endfor %}
    </tr>
</table>

<div class="submit-row">
    <a href="/admin/cashout/new/">New Cashout</a>
</div>

{% endblock %}
