{% extends "chezbob/paginated.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<table width="100%">
    <tr>
        <th style="text-align: left" width="20%">Date</th>
        <th style="text-align: left" width="30%">Description</th>
        <th style="text-align: left" width="20%"></th>
        <th style="text-align: right" width="10%">Debit</th>
        <th style="text-align: right" width="10%">Total</th>
        <th style="text-align: right" width="10%">Balance</th>
    </tr>
    <tr>
        <th></th>
        <th>Notes</th>
        <th>Entity</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

{% for c in cashouts %}

    <tr><td colspan="6"><hr /></td></tr>

    <tr id="c{{ c.info.id }}">
        <td><a href="/admin/cashout/{{ c.info.id }}/" style="font-weight: bold">{{ c.info.datetime }}</a></td>
        <td colspan="2"><a href="/admin/cashout/{{ c.info.id }}/" style="font-weight: bold">{{ c.info.notes }}</a></td>
        <td></td>
        <td align="right">{{ c.total|stringformat:".2f" }}</td>
        <td align="right">{{ c.balance|stringformat:".2f" }}</td>
    </tr>
    {% for s in c.counts %}
    <tr>
        <td></td>
        <td>{{ s.memo }}</td>
        <td><a href="/admin/cashout/entity/{{s.entity.id}}/">{{ s.entity }}</a></td>
        <td></td>
        <td>{{ s.total|stringformat:".2f" }}</td>
        <td></td>
    </tr>
    {% endfor %}

{% endfor %}
</table>

<div class="submit-row">
    <a href="/admin/cashout/onhand/">On Hand</a> |
    <a href="/admin/cashout/new/">New Cashout</a>
</div>

{% endblock %}

