{% extends "chezbob/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<script type="text/javascript">
var None = null;
var True = true;
var False = false;

var total_taxed    = {{ total_notax|stringformat:".2f" }};
var total_nontaxed = {{ total_notax|stringformat:".2f" }};
var total          = {{ total|stringformat:".2f" }};
var tax_rate       = {{ order.tax_rate|stringformat:".4f"}};

var bulk_items = [
  {% for bi in bulk_items %}
	  { 'bulkid'        : {{ bi.bulkid }},
	    'description'   : '{{ bi.description }}',
	    'units_per_case': {{ bi.quantity }},
	    'product_id'    : '{{ bi.product_id|default_if_none:"" }}',
	    'price'         : {{ bi.price }},
	    'is_cost_taxed' : {{ bi.taxable|yesno:'true,false,' }},
	    'crv_per_unit'  : {{ bi.crv_per_unit }},
	    'is_crv_taxed'  : {{ bi.crv_taxable|yesno:'true,false,' }} 
	  },
	{% endfor %}  
];

function filterSelect(filterInput, event) {
  selObj = document.getElementById("bulkSelect")
  description_part = filterInput.value.toLowerCase()
  for (i = selObj.options.length - 1; i >= 0 ; i--) {
    selObj.remove(i)
  }
  for (i = 0; i < bulk_items.length; i++) {
    bi = bulk_items[i]
    if (bi.description.toLowerCase().indexOf(description_part) >= 0) {
      selObj.add(new Option(bi.description, bi.bulkid), null);
    }
  }
  selObj.selectedIndex = 0
}

$(document).ajaxError(function(e, xhr, settings, exception) { 
  window["error_frame"].document.body.innerHTML = xhr.responseText;
});

function update_bulk_price(item_id, bulk_id) {
  data = { 'ajax'      : 'update_bulk_price',
           'bulk_id'   : bulk_id,
           'new_price' : $("input[name=price\\."+item_id+"]")[0].value,
           'is_taxed'  : $("input[name=taxed\\."+item_id+"]")[0].checked,
           'date'      : $("#id_date")[0].value }
  handler = function(data) {
    alert("bulk price updated.  updated will be reflected in next refresh");
  }
  $.post('/admin/orders/{{ order.id }}/', data, handler);
  return false;
}

function new_order_item() {
  data = { 'ajax'    : 'new_order_item',
           'bulk_id' : $("#bulkSelect")[0].value,
           'count'   : $("#id_new_count")[0].value }
  handler = function(data) {
    item = data['new_order_item'];
    new_template(item);
    addtototal(item);
  }
  $.post('/admin/orders/{{ order.id }}/', data, handler);
  return false;
}

function update_crv_price(item_id, bulk_id) {
  alert("update CRV price function is TODO");
  return false;
}

function save_order_item(item_id) {
  data = { 'ajax'     : 'update_order_item',
           'item_id'  : item_id,
           'count'    : $("input[name=cases\\." + item_id + "]").val(),
           'quant'    : $("input[name=quantity\\." + item_id + "]").val(),
           'price'    : $("input[name=price\\." + item_id + "]").val(),
           'is_taxed' : $("input[name=taxed\\." + item_id + "]")[0].checked,
           'crv'      : $("input[name=crv\\." + item_id + "]").val(),}
  if (data['crv']) {
    data['crv_taxed'] = $("input[name=crv_taxed\\." + item_id + "]")[0].checked;
  }
  handler = function(data) {
    old_item = data['old_order_item'];
    new_item = data['new_order_item'];
    removefromtotal(old_item);
    addtototal(new_item);
  }
  $.post('/admin/orders/{{ order.id }}/', data, handler);
  return false;
}

function delete_order_item(item_id) {
  data = { 'ajax'    : 'delete_order_item',
           'item_id' : item_id }
  handler = function(data) {
    item = data['deleted_order_item'];
    removefromtotal(item);
    $("#main_row\\." + item_id).remove();
    $("#crv_row\\." + item_id).remove();
  }
  $.post('/admin/orders/{{ order.id }}/', data, handler);
  return false;
}

function update_details() {
  alert("update_detail ");
  return false;
}
	          
function update_template(item) {
  item_id = item.id;
  main_row        = $("#main_row\\." + item_id)[0];
  crv_row         = $("#crv_row\\." + item_id)[0];
  inp_cases       = $("input[name=cases\\." + item_id + "]")[0];
  inp_quant       = $("input[name=quantity\\." + item_id + "]")[0];
  inp_price       = $("input[name=price\\." + item_id + "]")[0];
  inp_taxed       = $("input[name=taxed\\." + item_id + "]")[0];
  inp_crv         = $("input[name=crv\\." + item_id + "]")[0];
  inp_crv_taxed   = $("input[name=crv_taxed\\." + item_id + "]")[0];
  spn_amount      = $("#id_amount\\." + item_id)[0];
  spn_crv_amount  = $("#id_crv_amount\\." + item_id)[0];
  
  inp_cases.value = item.cases_ordered;
  inp_quant.value = item.units_per_case;
  inp_price.value = item.case_cost;
  inp_crv.value   = item.crv_per_unit;
  inp_taxed.checked        = item.is_cost_taxed;
  inp_crv_taxed.checked    = item.is_crv_taxed;
  spn_amount.innerHTML     = '$' + item.amount.toString();
  spn_crv_amount.innerHTML = '$' + item.crv_amount.toString();
  if (item.price_differs) {
     $("input[name=ubp\\." + item_id + "]").show();
  } else {
     $("input[name=ubp\\." + item_id + "]").hide();
  }
  if (item.crv_differes) {
     $("input[name=ubc\\." + item_id + "]").show();
  } else {
     $("input[name=ubc\\." + item_id + "]").hide();
  }
  if (item.quantity_differes) {
     $("input[name=ubq\\." + item_id + "]").show();
  } else {
     $("input[name=ubq\\." + item_id + "]").hide();
  }
  if (item.crv_per_unit == 0.00) {
    $("#crv_row\\." + item_id).remove();
  }
}

function new_template(item) {
  $("#orderItemTemplate").tmpl([item]).appendTo("#orderItemList");
  update_template(item);
}

function find_bulk(bulk_id) {
  for (i in bulk_items) {
    bi = bulk_items[i];
    if (bi.bulkid == bulk_id) {
      return bi;
    }
  }
}

function refresh_total() {
  total = (total_taxed * (1+tax_rate)) + total_nontaxed;
  $("#total_nontaxed").html(total_nontaxed.toFixed(2));
  $("#total_taxed").html(total_taxed.toFixed(2));
  $("#total").html(total.toFixed(2));
}

function addtototal(item) {
  if (item.is_cost_taxed) {
    total_taxed += parseFloat(item.amount);
  } else {
    total_nontaxed += parseFloat(item.amount);
  }
  if (item.is_crv_taxed) {
    total_taxed += parseFloat(item.crv_amount);
  } else {
    total_nontaxed += parseFloat(item.crv_amount);
  }
  refresh_total();
}

function removefromtotal(item) {
  if (item.is_cost_taxed) {
    total_taxed -= parseFloat(item.amount);
  } else {
    total_nontaxed -= parseFloat(item.amount);
  }
  if (item.is_crv_taxed) {
    total_taxed -= parseFloat(item.crv_amount);
  } else {
    total_nontaxed -= parseFloat(item.crv_amount);
  }
  refresh_total();
}

</script>

<script id="orderItemTemplate" type="text/html">
  <tr id="main_row.${id}">
    <td><input type="hidden" name="bulkid.${id}" />
        <input type="text" size="4" name="cases.${id}"/></td>
    <td>${find_bulk(bulk_type_id).product_id}</td>
    <td><a href="/admin/django/bobdb/bulkitem/${bulk_type_id}/">
        ${find_bulk(bulk_type_id).description}
      </a></td>
    <td><input type="text" size="4" name="quantity.${id}""/></td>
    <td><input type="text" size="6" name="price.${id}"/></td>
    <td><input type="checkbox" name="taxed.${id}"/></td>
    <td style="text-align:right;" id="id_amount.${id}"></td>
    <td><input type="submit" value="Save" name="save.${id}"
		           onClick="save_order_item(${id});"/>
        <input type="submit" value="Delete" name="del.${id}"
		           onClick="delete_order_item(${id});"/>
		    <input type="submit" value="Update Bulk Price" name="ubp.${id}"
		           onClick="update_bulk_price(${id}, ${bulk_type_id});"
		    <input type="submit" value="Update Bulk Quantity"
		           name="ubq.${id}"/></td></tr>
  <tr id="crv_row.${id}">
    <td></td>
    <td></td>
    <td>CRV for ${find_bulk(bulk_type_id).description}</td>
    <td></td>
    <td><input type="text" size="6" name="crv.${id}" /></td>
    <td><input type="checkbox" name="crv_taxed.${id}" /></td>
    <td style="text-align:right;" id="id_crv_amount.${id}"></td>
    <td><input type="submit" value="Update Bulk CRV" name="ubc.${id}"
	             onClick="update_crv_price(${id}, ${bulk_id});"/></td></tr>
</script>

<style>
  label {
    display:inline-block;
    width:100px;
  }
</style>

<form action="" method="post" {% if order %} onSubmit="return false;" {% endif %}>

<h2>Details<h2>
{{ details_form.as_p }}
<input type="submit" value="Save Details" name="save_details" onClick="update_details();"/>

{% if order %}
<h2>Ordered Items</h2>

<iframe name="error_frame" style="width:800px;"></iframe>

<table class="tablesorter" cellspacing="0" id="ordered_items_table">
<thead>
<tr>
    <th>Ordered</th>
    <th>Item</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Tax</th>
    <th>Ammount</th>
    <th>TOOLS</th>
</tr>
</thead>

<tbody id="orderItemList">
{% for item in items %}
<tr id="main_row.{{ item.id }}">
  <td><input type="hidden" name="bulkid.{{ item.id }}"  
             value="{{ item.bulk_type.bulkid }}" />
      <input type="text" size="4"  name="cases.{{ item.id }}" 
             value="{{ item.cases_ordered }}" /></td>
  <td>{{ item.bulk_type.product_id }}</td>
  <td><a href="/admin/django/bobdb/bulkitem/{{ item.type.bulkid }}/">
         {{ item.bulk_type.description }}</a></td>
    <td><input type="text" size="4" name="quantity.{{ item.id }}" 
               value="{{ item.units_per_case }}" /></td>
    <td><input type="text" size="6" name="price.{{ item.id }}" 
               value="{{ item.case_cost|stringformat:".2f" }}" /></td>
    <td><input type="checkbox" name="taxed.{{ item.id }}" 
               {{ item.is_cost_taxed|yesno:'checked="checked",,' }} /></td>
    <td style="text-align:right;" 
        id="id_amount.{{ item.id }}">${{ item.amount }}</td>
    <td><input type="submit" value="Save" name="save.{{ item.id }}"
		           onClick="save_order_item({{ item.id }});"/>
        <input type="submit" value="Delete" name="del.{{ item.id }}"
		           onClick="delete_order_item({{ item.id }});"/>
		  {% if item.price_differs %}
		    <input type="submit" value="Update Bulk Price"  name="ubp.{{ item.id }}"
		           onClick="update_bulk_price({{ item.id }}, {{ item.bulk_type.bulkid }});"/>
		  {% endif %}
		  {% if item.quantity_differs %}
		    <input type="submit" value="Update Bulk Quantity" name="ubq.{{ item.id }}"
		           onClick="update_bulk_quantity({{ item.id }}, {{ item.bulk_type.bulkid }});"/>
		  {% endif %}
    </td></tr>
{% if item.crv_per_unit %} 
<tr id="crv_row.{{ item.id }}">
  <td></td>
  <td></td>
  <td>CRV for {{ item.bulk_type.description }}</td>
  <td></td>
  <td><input type="text" size="6" name="crv.{{ item.id }}" 
             value="{{ item.crv_per_unit|stringformat:".2f" }}"/></td>
  <td><input type="checkbox" name="crv_taxed.{{ item.id }}" 
             {{ item.is_crv_taxed|yesno:'checked="checked",,' }} /></td>
  <td style="text-align:right;" 
      id="id_crv_amount.{{ item.id }}">${{ item.crv_amount }}</td>
  <td>
	  {% if item.crv_differs %}
	    <input type="submit" value="Update Bulk CRV" name="ubc.{{ item.id }}"
	           onClick="update_crv_price({{ item.id }}, {{ item.bulk_type.bulkid }});"/>/>
	  {% endif %}
  </td></tr>
{% endif %}
{% endfor %}
</tbody>
</table>


Filter: 
<input type="text" size="30" id="new_description" style="width:210px;" 
       onKeyUp="filterSelect(this, event)"/>&nbsp;
Cases: <input type="text" size="4" name="new_count" id="id_new_count" value="1"/>
<input type="submit" value="Add" name="add_item"
	     onClick="new_order_item();"/><br/>
<select size="15" id="bulkSelect" name="new_item" style="width:400px;">		  
  {% for bi in bulk_items %}
	  <option value="{{ bi.bulkid }}">{{ bi.description }}</option>
	{% endfor %}
</select>
</form> 

<div>
Total:
<span id="total_nontaxed">{{ total_notax|stringformat:".2f" }}</span> (Non-Taxable)
+ <span id="total_taxed">{{ total_tax|stringformat:".2f" }}</span> (Taxable)
= <span id="total">{{ total|stringformat:".2f" }}</span>
</div>

<div>Actual Total: {{ order.amount|stringformat:".2f" }}</div>
{% endif %}

</form>

{% endblock %}
