{% extends "chezbob/base.html" %}
{% block title %}Account Balances{% endblock %}

{% block content_title %}
<h1>Account Balances{% if date %}: {{ date }}{% endif %}</h1>
{% endblock %}

{% block content %}
{% for g in account_groups %}
<h2>{{ g.group }} Accounts</h2>
    <table width="100%">
    {% for a in g.accounts %}
        <tr>
            <td><a href="/admin/finance/account/{{ a.id }}/">{{ a }}</a></td>
            <td style="text-align: right">{{ a.balance|stringformat:".2f" }}</td>
        </tr>
    {% endfor %}

        <tr>
            <th>Total</th>
            <th style="text-align: right">{{ g.total|stringformat:".2f" }}</th>
        </tr>
    </table>
{% endfor %}

{% endblock %}
