{% extends "chezbob/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<table width="100%">
    <tr>
        <th style="text-align: left" width="10%">Date</th>
        <th style="text-align: left" width="30%">Description</th>
        <th style="text-align: left" width="30%"></th>
        <th style="text-align: right" width="10%">Debit</th>
        <th style="text-align: right" width="10%">Credit</th>
        <th style="text-align: right" width="10%">Balance</th>
    </tr>
    <tr>
        <th></th>
        <th>Notes</th>
        <th>Account</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

{% for t in transactions %}

    <tr><td colspan="6"><hr /></td></tr>

    <tr id="t{{ t.info.id }}">
        <td>{{ t.info.date }}</td>
        <td colspan="2"><a href="/finance/transaction/{{ t.info.id }}/" {% if t.info.auto_generated %}style="font-style: italic"{% else %}style="font-weight: bold"{% endif %}>{{ t.info.description }}</a></td>
        <td></td>
        <td></td>
        <td align="right">{% if t.balance %}{{ t.balance|stringformat:".2f" }}{% endif %}</td>
    </tr>
    {% for s in t.splits %}
    <tr>
        <td></td>
        <td>{{ s.memo }}</td>
        <td><a href="/finance/account/{{s.account.id}}/">{{ s.account }}</a></td>
        <td align="right">{% if s.debit %}{{ s.debit|stringformat:".2f" }}{% endif %}</td>
        <td align="right">{% if s.credit %}{{ s.credit|stringformat:".2f" }}{% endif %}</td>
        <td></td>
    </tr>
    {% endfor %}

{% endfor %}
</table>

<div class="submit-row">
    <a href="/finance/transaction/new/">New Transaction</a>
</div>

{% endblock %}
